# MCO Machine Learning Technical Notebook

###### Authors: 
                Chuan Chen Chu,
                Reynaldo Delima,
                Nilo Jatico II,
                Jedwig Tan
                
##### Section: 
                STINTSY S16

# Introduction

In the topic of diseases and disabilities, having a stroke can instantly spell death or long-term disability if not immediately treated and given attention to. Characterized as either a Ishcemic Stroke or a hemorrhagic stroke, both types development from different causes but both leave similar detrimental effects to the physical and mental well-being of the afflicted. To define both types, an Ishcemic Stroke pertains to a phenoma when an artery is blocked or narrowed, resulting in a reduction in blood flow. Ischemic strokes attribute to an estimate 87% of all reported strokes(Mcintosh,2020). Hemorrhagic strokes, on the other hand, are characterized by having blood vessels in the brain become ruptured or burst entirely. A stroke can be caused by many aspects, with lifestyle issues such as smoking, drug use, drinking, obesity and medical issues such as Cardiovascular complications, high blood pressure or cholesterol, family genes being possible risks to having a stroke. Race, Gender and Age may also attribute to Stroke rates and risk(Mayo Clinic,2021). A stroke could lead to life lasting complications including Paralysis, difficulty in eating or conversing, lasting pain, mental-related problems, behavioral problems, and memory or thought related difficulties. A stroke is also very likely to cause death, especially if the afflicted is not given immediate response and medical treatment to.

As the second leading cause of death in a study conducted in 2016 by the World Health Organization(Johnson,Onuma,Owolabi Sachdev,2016), a stroke can become fatal if not given ample attention immediately. Being able to predict if an individual is at risk of having a stroke can help the individual take steps in changing medical or lifestyle issues to help prevent the risk turning into a reality, or at the very worst case scenario, help minimize the effects of stroke and prevent life-long disabilities or death from occuring.

Given that the risks and possible causes leading to a stroke have been researched and discovered, it could be hypothesized that a machine could be able to deduce if a certain individual is suspect to be at risk of a stroke based on assessing if the individual if he/she is currently practicing or experienceing the following risks mentioned earlier in this chapter. As such, the problem that this notebook aims to tackle and accomplish is whether it is possible to create a machine capable of diagnosing if a person is suseptible to having a stroke.

### Statement of the Problem

*Is it possible to create a machine that is capable of diagnosing if a person is at risk of having a stroke?*

# Stroke Prediction Dataset

The Stroke Prediction Dataset is a dataset that was taken from the website Kaggle and was created by Fede Soriano, a Data Scientist from Madrid Spain.It features approx. 5,000 patient entries with twelve features. Each of the first eleven feature pertains to a risk factor that may lead to a stroke. The final feature is a binary value indicating whether the patient in question has had a stroke or not. The origin of the patients featured in the dataset were stated as confidential in the acknowledgement of the dataset. The dataset was created in order to predict possible risk in having a stroke given the state of the patient in various input parameters.

### The 12 features in the dataset are namely:

The first feature is the **id** feature, which is a numerical unique identifier for each patient in the dataset consiting of four or five numbers. Each patient has a unique id that is not shared with any other patient in the dataset, and thus means that in the dataset, there are five thousand one hundred ten different labels with each entry having a unique id label.

The second feature is the **gender** feature, which portrays the gender of the patient. There are 3 labels in the feature, namely *male* with a 41% distribution, *female* with a 59% distribution, and other, being labeled in only one dataset entry. Studies have shown that men are more likely to have age-related strokes than women(Reeves,2008).

The third feature is the **age** feature, which signifies the age of the patient at the time of documentation, with the possible labels in the dataset being a numerical value anywhere between 0.08 to 82, with decimal values indicating patients with an age in months. Individuals of older age are more likely to be at risk of getting a stroke. 
###### based on the dataset,there are:
                              434 patients aged 0 to 8 years old
                              362 patient entries are aged 8-16.45 years old
                              440 entries are aged 16.46 - 24.65 years old
                              484 patients being aged 24.66 - 33.84 years old,  
                              597 patients being aged 33.85 - 41.04 years old, 
                              583 patients being aged 41.05 - 49.23 years old, 
                              686 patients being aged 49.24 - 57.42 years old,
                              559 patients being aged 57.42 - 65.62 years old, 
                              407 patients being aged 65.62 - 73.81 years old, 
                              558 patients being aged 73.81 - 82 years old,

The fourth feature is the **hypertension** feature. Hypertension, or high blood pressure, is a medical risk that could lead to stroke, and in the case of the dataset, is represented as a boolean feature with a binary value of either 1 or 0, with 1 signifiying that the patient has hypertension, and 0 signifying that the patient does not. 498 patients in the dataset have hypertension, while 4,612 patients do not have hypertension.

The fifth feature is the **heart_disease** feature. Heart diseases can become a medical risk that could lead to stroke, and in the case of the dataset, is represented as a boolean feature with a binary value of either 1 or 0, with 1 signifiying that the patient has a heart complication, and 0 signifying that the patient does not. 276 patients in the dataset have hypertension, while 4,834 patients do not have hypertension.

The sixth feature is the **ever_married** feature.This pertains to the martial status of the patient, with the patient either having been married or not.Martial Status has been stated to be a survival advantage for post-stroke survivors, as it gives off a protective effect for the survival of the afflicted(Liu,et al,2018). There are two labels for this feature, with the label *No* pertaining to not being married at any point in their lives and conributing to 1757 entries, and *yes* which pertains to having been married at some point, with the label being linked to 3353 entries.

The seventh feature is the **work_type**, which pertains to the work sector of the patient. there are five labels for this feature, namely *children in 687 entries*, *Govt_jov* in 657 entries, *Never_worked in 22 entries*, *Private* in 2925 entries, and *Self-employed* in 819 entries.

The eighth feature is the **Residence_type** Feature, which pertains to the Residential Type of the patient. Two labels are present in this dataset, with the first label *Urban* Attributing to 51% of the entries in the dataset, and *Rural* taking up the remaining 49%. A Study has stated that Rural counties have higher stroke rates than those from Urban Areas (Sealy-Jefferson et al. 2020).

 The ninth feature is the **avg_glucose_level** feature, which pertains to the average glucose level of the patient, with higher levels being more at risk with stroke. 559 out of the 5510 entries have higher than normal levels, while the rest have normal to low levels of glucose in their bodies.

The tenth feature is the **bmi** feature, which pertains to the body mass index of the individual. as each entry has feature different body mass indexes, there is a multitude of labels in the feature, with matching labels being more on coincidence. To note, out of the 5510 entries, roughly 4% have N/A as their BMI label.

The eleventh feature is the **smoking_status** feature, a feature that states whether the patient has smoked before or is currently smoking. There are four labels in the feature, the first label *never smoked* which means the patient has never smoked, and totals 1892 entries, the *formerly smoked* label which meanns that the patient has smmoked before but has since stopped, and totals 885 entries, the *smokes* label which signifies that the patient is currently smoking, totalling 789 entries, and the *Unknown* label, which means that it is not known whether he still smokes or not, and totals 1544 entries.

The twelfth and final feature is the **stroke** feautre, which pertains to whether or not the patient has had a stroke before. the values 1 and 0 are the labels, with 1 meaning that the patient has had a stroke before, and 0 meaning that the patient hasn't. 249 entries have a stroke label of 1, while 4861 labels have a label of 0.

## Methodology

Import the necessary libraries in order to perform machine learning as well as obtain the input dataset.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')

plt.rcParams['figure.figsize'] = (12.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'

Read the csv file 'stroke-dataset' and store it as a pandas dataframe.

In [3]:
stroke_df = pd.read_csv('stroke-dataset.csv')

Preview the pandas dataframe.

In [4]:
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

We display the information of the features, as well as the metadata of the features in the DataFrame.

In [5]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

Based on the information gathered regarding the dataset, there are 201 observations with null (NaN) value for the 'bmi' information. As such, it is important to preprocess the data gathered.

### Data Preprocessing

For the data preprocessing section, it is important to have a good understanding of the data contained in the dataframe. To this end, displaying the different unique values let us have a general understanding of the collected data.

We print the unique values for gender.

In [6]:
# Check unique values of gender and their count
stroke_df['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [7]:
stroke_df['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

There is one observation with 'other' as gender. We find which row/observation it belongs.

In [6]:
other = stroke_df[stroke_df['gender'] == 'Other']
other

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
3116,56156,Other,26.0,0,0,No,Private,Rural,143.33,22.4,formerly smoked,0

Since it is only one observation, it is safe to drop it.

In [7]:
stroke_df = stroke_df.drop([3116])
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [8]:
stroke_df['gender'].value_counts()

Female    2994
Male      2115
Name: gender, dtype: int64

Now that the outlier is dropped, we change the 'object' or string-based data to numerical data for uniformity in the dataset. However, normalization is no longer needed since, although some numerical data has different forms (age, glucose and bmi), the data is not too far from one another.

In order to do this, we must first display the unique values of each features that contain string data to determine if the data is categorizable into a finite number that is not too large and also the range of values for features.

The features that will be categorized into numerical values will be:
* **gender**
* **hypertension**
* **heart_disease**
* **ever_married**
* **work_type**
* **Residence_type**
* **smoking_status**

Categorizing 'gender' feature.

In [9]:
stroke_df['gender'] = pd.Categorical(stroke_df['gender']).codes
stroke_df['gender'].value_counts()

0    2994
1    2115
Name: gender, dtype: int64

In [10]:
stroke_df['hypertension'].value_counts()

0    4611
1     498
Name: hypertension, dtype: int64

In [11]:
stroke_df['heart_disease'].value_counts()

0    4833
1     276
Name: heart_disease, dtype: int64

In [12]:
stroke_df['ever_married'].value_counts()

Yes    3353
No     1756
Name: ever_married, dtype: int64

Categorizing 'ever_married' feature.

In [13]:
stroke_df['ever_married'] = pd.Categorical(stroke_df['ever_married']).codes
stroke_df['ever_married'].value_counts()

1    3353
0    1756
Name: ever_married, dtype: int64

In [14]:
stroke_df['work_type'].value_counts()

Private          2924
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

Categorizing 'work_type' feature.

In [15]:
stroke_df['work_type'] = pd.Categorical(stroke_df['work_type']).codes
stroke_df['work_type'].value_counts()

2    2924
3     819
4     687
0     657
1      22
Name: work_type, dtype: int64

In [16]:
stroke_df['Residence_type'].value_counts()

Urban    2596
Rural    2513
Name: Residence_type, dtype: int64

Categorizing 'Residence_type' feature.

In [17]:
stroke_df['Residence_type'] = pd.Categorical(stroke_df['Residence_type']).codes
stroke_df['Residence_type'].value_counts()

1    2596
0    2513
Name: Residence_type, dtype: int64

In [18]:
stroke_df['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     884
smokes              789
Name: smoking_status, dtype: int64

We drop the observations with 'Unknown' as the value for 'smoking_status' as these observations will not be able to completely provide information in the dataset. Although the number of observations are high, it is still an important feature that should be taken in to account.

In [19]:
stroke_df['smoking_status'] = stroke_df['smoking_status'].replace('Unknown', np.nan)

In [20]:
stroke_df = stroke_df.dropna()

In [21]:
stroke_df['smoking_status'].value_counts()

never smoked       1852
formerly smoked     836
smokes              737
Name: smoking_status, dtype: int64

Categorizing 'smoking_status' feature.

In [22]:
stroke_df['smoking_status'] = pd.Categorical(stroke_df['smoking_status']).codes
stroke_df['smoking_status'].value_counts()

<ipython-input-22-8dd368d04f5e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stroke_df['smoking_status'] = pd.Categorical(stroke_df['smoking_status']).codes

1    1852
0     836
2     737
Name: smoking_status, dtype: int64

In [23]:
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,2,1,228.69,36.6,0,1
2,31112,1,80.0,0,1,1,2,0,105.92,32.5,1,1
3,60182,0,49.0,0,0,1,2,1,171.23,34.4,2,1
4,1665,0,79.0,1,0,1,3,0,174.12,24.0,1,1
5,56669,1,81.0,0,0,1,2,1,186.21,29.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5100,68398,1,82.0,1,0,1,3,0,71.97,28.3,1,0
5102,45010,0,57.0,0,0,1,2,0,77.93,21.7,1,0
5106,44873,0,81.0,0,0,1,3,1,125.20,40.0,1,0
5107,19723,0,35.0,0,0,1,3,0,82.99,30.6,1,0
5108,37544,1,51.0,0,0,1,2,0,166.29,25.6,0,0

In [24]:
X = stroke_df.drop(columns=['id', 'stroke'])
y = stroke_df['stroke']

print(X.shape)
print(y.shape)

(3425, 10)
(3425,)

### Classification Tree

To construct the classification tree, sklearn's `DecisionTreeClassifier` will be utilized

In [25]:
from sklearn.model_selection import train_test_split

We split the dataset into train and test sets.

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()

In [28]:
dtc.fit(X_train, y_train)
predictions_train = dtc.predict(X_train)
print(dtc.score(X_train, y_train))

1.0

In [29]:
predictions = dtc.predict(X_test)
print(dtc.score(X_test, y_test))

0.9173151750972762

In [30]:
from sklearn import tree

tree.export_graphviz(dtc,out_file='tree.dot')

In [31]:
from sklearn import metrics
accuracy = metrics.accuracy_score(y_test, predictions)
print(accuracy)

0.9173151750972762

In [32]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.96      0.95      0.96       978
           1       0.18      0.20      0.19        50

    accuracy                           0.92      1028
   macro avg       0.57      0.58      0.57      1028
weighted avg       0.92      0.92      0.92      1028

In [33]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, predictions))

[[933  45]
 [ 40  10]]

In [39]:
input_age = input("Age: ")
input_gender = input("Gender (Male - 1 | Female - 0): ")
input_hyper = input("Hypertension (Yes - 1 | No - 0): ")
input_heart = input("Heart Disease (Yes - 1 | No - 0): ")
input_marry = input("Married (Yes - 1 | No - 0): ")
input_work = input("Work (Children - 4 | Self-employed - 3 | Private - 2 | Never_worked - 1 | Govt_job - 0): ")
input_home = input("Residence (Urban - 1 | Rural - 0): ")
input_sugar = input("Glucose Level: ")
input_bmi = input("BMI: ")
input_smoke = input("Smoke (Yes - 2 | Not anymore - 1 | No - 0): ")

input_whole = {'gender': [input_gender], 'age': [input_age], 'hypertension': [input_hyper], 'heart_disease': [input_heart], 
               'ever_married': [input_marry], 'work_type': [input_work], 'Residence_type': [input_work], 
               'avg_glucose_level': [input_sugar], 'bmi': [input_bmi], 'smoking_status': [input_smoke]}
input_whole = pd.DataFrame(data=input_whole)

answer = dtc.predict(input_whole)
result = ["NO", "YES"]
print("Is there a chance that you will have a stroke? The answer is... ")
print(result[answer[0]])

Age: 10
Gender (Male - 1 | Female - 0): 1
Hypertension (Yes - 1 | No - 0): 1
Heart Disease (Yes - 1 | No - 0): 1
Married (Yes - 1 | No - 0): 1
Work (Children - 4 | Self-employed - 3 | Private - 2 | Never_worked - 1 | Govt_job - 0): 1
Residence (Urban - 1 | Rural - 0): 1
Glucose Level: 100
BMI: 20
Smoke (Yes - 2 | Not anymore - 1 | No - 0): 2
Is there a chance that you will have a stroke? The answer is...
NO

## Results and Analysis

## Conclusion

## References

Johnson, W., Onuma, O., Owolabi, M., & Sachdev, S. (2016, September). Stroke: A global response is needed. Retrieved from https://www.who.int/bulletin/volumes/94/9/16-181636/en/

Holland, K. (2019, October 16). Stroke: Causes, symptoms, diagnosis, and treatment. Retrieved from https://www.medicalnewstoday.com/articles/7624

Stroke. (2021, February 09). Retrieved from https://www.mayoclinic.org/diseases-conditions/stroke/symptoms-causes/syc-20350113

Liu, Q., Wang, X., Wang, Y., Wang, C., Zhao, X., Liu, L., Li, Z., Meng, X., Guo, L., & Wang, Y. (2018). Association between marriage and outcomes in patients with acute ischemic stroke. Journal of neurology, 265(4), 942–948. https://doi.org/10.1007/s00415-018-8793-z

Shawnita Sealy-Jefferson, Molly Roseland, Michele L. Cote, Amy Lehman, Eric A. Whitsel, Jason Booza, and Michael S. Simon.Women's Health Reports.Dec 2020.326-333.http://doi.org/10.1089/whr.2020.0034

Reeves, M. J., Bushnell, C. D., Howard, G., Gargano, J. W., Duncan, P. W., Lynch, G., Khatiwoda, A., & Lisabeth, L. (2008). Sex differences in stroke: epidemiology, clinical presentation, medical care, and outcomes. The Lancet. Neurology, 7(10), 915–926. https://doi.org/10.1016/S1474-4422(08)70193-5

##  Appendix A. Contribution of Members